In [126]:
#  Import Libraries
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [127]:
# Loading the dataset
df=pd.read_csv("telecom_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [128]:
df=df.drop('Unnamed: 0',axis=1)

In [129]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [130]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [131]:
# Splitting Train and Test Data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [132]:
# Algorithm Decision Tree Classifier
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [133]:
# Training model
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [134]:
# Testing Model
y_pred=model_dt.predict(x_test)
y_pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [135]:
model_dt.score(x_test,y_test)

0.783226723525231

In [136]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.85      0.87      0.86      1052
           1       0.58      0.53      0.55       355

    accuracy                           0.78      1407
   macro avg       0.71      0.70      0.71      1407
weighted avg       0.78      0.78      0.78      1407

As we can see accuracy is very low because datset is imbalanced 

we have to apply SMOTEENN (UpSampling + ENN) to make it balanced

In [137]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [138]:
# Splitting Resampled Data for training and testing
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [139]:
model_dt_smote=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [140]:
# Resampled data accuracy
model_dt_smote.fit(xr_train,yr_train)
yr_predict = model_dt_smote.predict(xr_test)
model_score_r = model_dt_smote.score(xr_test, yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test, yr_predict))

0.9311809685641461
              precision    recall  f1-score   support

           0       0.97      0.88      0.92       550
           1       0.91      0.97      0.94       627

    accuracy                           0.93      1177
   macro avg       0.94      0.93      0.93      1177
weighted avg       0.93      0.93      0.93      1177

In [141]:
print(metrics.confusion_matrix(yr_test, yr_predict))

[[486  64]
 [ 17 610]]

Now we can see accuracy is very Good

#### Apply Random Forest algorithm

In [142]:
from sklearn.ensemble import RandomForestClassifier

In [143]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [144]:
# Training Model
model_rf.fit(x_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [145]:
y_pred=model_rf.predict(x_test)

In [146]:
model_rf.score(x_test,y_test)

0.8130774697938877

In [147]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.84      0.92      0.88      1052
           1       0.68      0.49      0.57       355

    accuracy                           0.81      1407
   macro avg       0.76      0.71      0.72      1407
weighted avg       0.80      0.81      0.80      1407

In [148]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)

In [149]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [150]:
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [151]:
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [152]:
yr_predict1 = model_rf_smote.predict(xr_test1)

In [153]:
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)

In [154]:
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.9356477561388654
              precision    recall  f1-score   support

           0       0.97      0.89      0.93       536
           1       0.91      0.98      0.94       645

    accuracy                           0.94      1181
   macro avg       0.94      0.93      0.93      1181
weighted avg       0.94      0.94      0.94      1181

Saving the model

In [155]:
import pickle

In [156]:
filename='model.sav'

In [157]:
pickle.dump(model_rf_smote,open(filename,'wb'))

In [158]:
load_model=pickle.load(open(filename ,'rb'))

In [159]:
model_score_r1 = load_model.score(xr_test, yr_test)

In [160]:

model_score_r1

0.9303313508920985

In [161]:
x1=pd.DataFrame(xr_test.iloc[1])
y1=pd.DataFrame(yr_test.iloc[1])

ValueError: DataFrame constructor not properly called!

In [ ]:
model_rf.score(x1.values,y1.values)

AttributeError: 'numpy.int64' object has no attribute 'values'